.plusButton {
  text-align: center;

  button {
    color: rgba(147, 140, 140, 0.46);
    width: 80px;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 3px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
    -6px -6px 12px #ffffff;
    font-weight: bold;
    margin-bottom: 10px;

    &:hover {
      border: 3px solid #fff;
    }

    &:active {
      box-shadow: 4px 4px 12px #c5c5c5,
      -4px -4px 12px #ffffff;
    }

    i {
    }
  }
}

