.plusButton {
  text-align: center;

  button {
    background-color: rgb(185, 124, 88);
    padding: 10px 15px;
    border: 2px solid rgba(44, 70, 140, 0.49);

    i {
    }
  }

  .addButton {

  }
}