.timerContainer {
  width: 400px;
  padding: 10px 20px;
  margin: 20px;
  border: 1px solid red;

  .content {
    display: flex;
    flex-direction: column;

    .header {

    }

    .meta {

    }

    .description {
      align-self: center;
    }

    .extraContent {
      align-self: flex-end;

      span {
        margin-left: 10px;

        i {
          color: #2c468c;
        }
      }
    }
  }

  .bottomButton {
    align-self: center;
    button{
      width: 150px;
      padding: 10px 0;
    }
  }
}