.timerContainer {
  width: 300px;
  padding: 10px 20px;
  margin: 20px;
  border: 2px solid #2c468c;

  .content {
    display: flex;
    flex-direction: column;

    .header {

    }

    .meta {

    }

    .timer {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #af9356;
      width: 130px;
      height: 80px;
      border-radius: 50%;
      align-self: center;
    }

    .extraContent {
      align-self: flex-end;

      span {
        margin-left: 10px;

        i {
          color: #2c468c;
        }
      }
    }
  }

  .bottomButton {
    align-self: center;
    button{
      background-color: #2c468c;
      width: 150px;
      padding: 10px 0;
    }
  }
}