.timerFormContainer {
  width: 400px;
  padding: 10px 20px;
  margin: 20px;
  border: 1px solid black;

  .content {
    .form {
      display: flex;
      flex-direction: column;

      .inputField {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        &:nth-last-child(2n) {
          margin-bottom: 30px;
        }
        input {
          padding: 10px 5px;
          outline: none;
          -webkit-appearance: none;
          background: #babdbd;
          border: 1px solid rgba(220, 225, 227, 0.15);
          color: rgba(63, 61, 61, 0.87);
          border-radius: 4px;
          -webkit-transition: color 0.1s ease, border-color 0.1s ease;
          transition: color 0.1s ease, border-color 0.1s ease;

          &:focus {
            border: 1px solid #1a5096;
          }
        }
      }

      .bottomButtons {
        //align-self: center;
        display: flex;
        justify-content: space-between;

        .button {
          width: 150px;
          padding: 10px 0;
        }
      }
    }
  }
}